<%= form_for @user do |f| %>

  <div class="field form-group row col-md-4">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, class: "form-control" %><br>
  </div>
  <div class="field form-group row col-md-4">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, class: "form-control" %><br>
  </div>
  <div class="row">
    <div class="field form-group col-md-4">
      <%= f.label :city %><br>
      <%= f.collection_select :city_id, City.all, :id, :name_state, prompt:true%><br>
    </div>
  </div>
  <div class="field form-group row col-md-4">
    <%= f.label :phone_number %><br>
    <%= f.number_field :phone_number, class: "form-control"%><br>
  </div>
  <br>

    <%= f.submit "Update", class: "btn btn-success"%>

<% end %>
