<h2>Hi <%= @user.first_name %>,</h2>
<p>Use the form below to create a new event in <%= @user.city.name_state %></p>
<%= form_for @event do |f| %>

  <div class="field form-group row col-md-4">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %><br>
  </div>

<div class="form-row">

  <div class="field form-group col-auto">
    <%= f.label "Minutes till"%><br>
    <%= f.collection_select :time_interval_id, TimeInterval.all, :id, :interval, prompt: true,  class: "form-control" %><br>
  </div>

  <div class="field form-group col-auto">
    <%= f.label :location %><br>
    <%= f.collection_select :location_id, @user.city.locations, :id, :name, prompt: true,  class: "form-control" %><br>
  </div>

  <div class="field form-group col-auto">
    <%= f.label :category %><br>
    <%= f.collection_select :category_id, Category.all, :id, :name, prompt: true,  class: "form-control" %><br>
  </div>

</div>

  <div class="field form-group row col-md-4">
    <%= f.label :notes %><br>
    <%= f.text_area :notes, class: "form-control" %><br>
  </div>

    <%= f.submit "Create event", class: "btn btn-success"%>
<% end %>
<br>
<%= link_to "Back to #{@user.city.name_state} events", events_path %>
